<% include header %>

<form method="post" action="./subscribe" class="ui form">
  <div class="field">
    <label>First Name</label>
    <input type="text" name="first-name" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>

<div class="field">
<label>Email</label>
<input type="email" name="email" palceholder="yourmail@provider.com...">
</div>

<div class="field">
<label>Password</label>
<input type="password" name="password" placeholder="Password..">
</div>


  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>


<% include footer %>